/*//////////// Font style /////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


/*.................... 
Variable declaration
...................... */
:root {
    --primary-color: #FF900E;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,
       Common style 
 ,,,,,,,,,,,,,,,,,,,,,,,,*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.title {
    font-size: 35px;
    color: #131313;
    font-weight: 700;
}

.description {
    color: #727272;
    line-height: 25px;
}

.primary-btn {
    background-color: var(--primary-color);
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    margin: 20px 0 0;
}

/* Header Style */
#header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 25px 150px 30px;
}

/*===================
     Nav-bar style 
 ===================*/
#nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#nav-bar ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

#nav-bar ul li {
    list-style-type: none;
    font-weight: 500;
    color: #424242;
}

/*++++++++++++++++++++
      Banner Style 
+++++++++++++++++++*/
.banner {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.banner-img img {
    width: 850px;
    margin: 30px auto 0;
}


/* //////////////////////////
   Quick List Section Style 
   ///////////////////////// */
.quick-info {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 0 0 0 200px;
}

.quick-list-details {
    margin-bottom: 15px;
}

.quick-list-description {
    width: 80%;
    font-size: medium;
}

#color {
    color: #727272;
    font-weight: 400;
}

#colors {
    color: var(--primary-color);
}

.quick-list-team-works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick-list-team-works img {
    height: 200px;
    width: 200px;
}


/*[[[[[[[[[[[[[[[[[[[[[[[
 Features section details
 ]]]]]]]]]]]]]]]]]]]]]]]] */

.features {
    padding: 25px 150px 30px;
    display: flex;
    gap: 30px;
}

.feature-info {
    border-left: 3px solid var(--primary-color);
    padding: 0 0 0 15px;
    margin-bottom: 20px;
}

.feature-card {
    background-color: #FFFFFF;
    margin: 15px 0 25px;
    border-radius: 10px;
    padding: 25px 30px 25px 25px;
    box-shadow: 0px 4px 30px;

}

.feature-card-title {
    font-size: 15px;
    margin-bottom: 10px;
}

.feature-architect img {
    width: 708px;
    height: 982px;
}

/*%%%%%%%%%%%%%%%%%%%
     button style  
 %%%%%%%%%%%%%%%%%%%*/

.floating-btn {
    width: 120px;
    height: 140px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    margin: 0 auto;
    position: relative;
    bottom: 200px;
    right: 150px;
}

.floating-btn-title,
.floating-btn-detail {
    text-align: center;
}

.floating-btn-title {
    padding-top: 30px;
}